@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

/* ########################################################### HEADER */

.headerDescuento {
    background-color: #1CD1B0;
    height: 30px;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}

.headerHeroes {
    background-color: #00669F;
    height: 100px;
    color: black;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ########################################################### FOOTER */

footer {
    background-color: #00669F;
    height: 50px;
    display: flex;
    align-items: center;

}

footer>p {
    color: white;
    margin-left: 15px;
}

/* ########################################################### MAIN */

main {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    height: 520px;
    width: 300px;
    background-color: #F3F3F3;
    border-radius: 15px;
    margin: 50px;
}


.fondo {
    position: absolute;
}

.corazon {
    position: relative;
    width: 30px;
    height: 26,25px;
    left: 15px;
    top: -70px;
    border-radius: 150px;
    z-index: 2;
}


.foto {
    position: relative;
    width: 120px;
    height: 120px;
    left: 55px;
    top: 125px;
    border-radius: 150px;
    z-index: 10;
}


h2 {
    position: relative;
    color: black;
    text-align: center;
    top: 140px;
}

.descripcion {
    width: 260px;
    position: relative;
    top: 140px;
    left: 20px;
}

.vermas {
    position: relative;
    background-color: #00669F;
    color: white;
    width: 128px;
    height: 48px;
    top: 170px;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

